doctype html

- const random = Math.floor(Math.random() * 100000)

html(lang='')
    head
        meta(charset='utf-8')
        title Wishlist JavaScript Coding Challenge
        link(rel='stylesheet', href=`/css/main.css?ver=${random}`)
    body
block content
