$fa-font-path: '../fonts/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
$base-color: #0370cb;
$base-color-light: #339bf0;
$card-container-background-color: #e5f1fa;
$red: #f0504a;

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 530px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  border: solid $base-color 3px;
  position: sticky;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: $base-color;
  color: white;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card {
  background-color: $base-color-light;
  width: 220px;
  height: 250px;
  border-radius: 10px;
  padding: 7px;
  display: flex;
  margin: 15px;
  flex-direction: column;
}

.card-container {
  background-color: $card-container-background-color;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.fas {
  cursor: pointer;

  &.selected {
    color: $red;
  }

  &:not(.selected) {
    color: AliceBlue;
  }
}

.flyout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 250px;
  border: solid $base-color 3px;
  position: absolute;
  transition: 0.4s ease-in-out;
  right: 0;
  margin-top: 40px;
  background-color: white;

  &.opened {
    transform: translate(3px, 0);
  }

  &:not(.opened) {
    transform: translate(300px, 0);
  }
}

.wishlist-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
}

.wishlist-item-container {
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
  display: flex;
  flex-direction: column;
}

.wishlist-item-label {
  height: 18px;
  background-color: #eeeeee;
}

.wishlist-item-icon-container {
  margin-top: 6px;
  width: 15px;
  max-width: 15px;
  margin-right: 10px;
}
