$fa-font-path: '../fonts/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
$base-color: #0370cb;
$base-color-light: #339bf0;
$card-container-background-color: #e5f1fa;

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 530px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  border: solid $base-color 3px;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: $base-color;
  color: white;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card {
  background-color: $base-color-light;
  width: 220px;
  height: 250px;
  border-radius: 10px;
  padding: 7px;
  display: flex;
  margin: 15px;
  flex-direction: column;
}

.card-container {
  background-color: $card-container-background-color;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
