div(class='card')
    div(class='card-container' style={
      height: '95px',
      'background-image': 'url(https://media.rawg.io/media/games/d6e/d6efe8b1fa59792044e91ec51abbb383.jpg)',
      'background-size': '100% auto',
      'background-repeat': 'no-repeat'
    })
    div(class='card-container')
        span= title
    div(class='card-container')
        span hello2
    div(style={ 'padding-top': '10px', 'margin': '0 auto' })
        i(class='fas fa-heart fa-2x' style={ color: 'AliceBlue' })
